<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.assoftek.splashscreen">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Derive Capital"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".singupWhite"></activity>
        <activity android:name=".SignUp.UserProfileActivity" />
        <activity android:name=".SignUp.UserEducationActivity" />
        <activity android:name=".SignUp.PhoneActivity" />
        <activity android:name=".WealthActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".CashScreenActivity" />
        <activity android:name=".HomeActivity.HomeActivity" />
        <activity android:name=".Login.login" />
        <activity android:name=".SignUp.Otp_verify" />
        <activity android:name=".SignUp.User_Detail" />
        <activity android:name=".Onboarding.OnBoardingScreen" />
        <activity android:name=".SignUp.SignUp" />
        <activity android:name=".Splash_Screen.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>